<div id="editLightModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Edit light</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="editLight()">
                    <div class="form-group">
                        <label for="light-name">Light name:</label>
                        <input type="text"
                               class="form-control"
                               ng-model="newEditLight.Name"
                               placeholder="Light name..." />
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Done
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>