<center><h1 ng-bind="title"></h1></center>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <br />
            <div class="col-md-12">
                <button type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#newTemperatureModal">
                    <span class="glyphicon glyphicon-plus"></span> New temperature
                </button>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tr ng-repeat="temperature in temperatures track by $index">
                <td class="col-md-1" ng-bind="temperature.Id"></td>
                <td class="col-md-1" ng-bind="temperature.Name"></td>
                <th class="col-md-1" ng-bind="temperature.Value"></th>
                <th class="col-md-1" ng-bind="temperature.Status"></th>
                <td class="col-md-3">
                    <button type="button"
                            class="btn btn-info"
                            ng-click="changeStatus(temperature)">
                        <span class="glyphicon glyphicon-ok"></span> Change status
                    </button>
                    <button type="button"
                            class="btn btn-success"
                            data-toggle="modal"
                            data-target="#editTemperatureModal"
                            ng-click="getTemperatrue(temperature)">
                        <span class="glyphicon glyphicon-info-sign"></span> Edit
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="deleteTemperature(temperature)">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-include="'Views/Partials/NewTemperatureModal.html'"></div>
<div ng-include="'Views/Partials/EditTemperatureModal.html'"></div>